<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/count.css" />
    <script src="../js/count.js" defer></script>
    <title>Count</title>
  </head>
  <body>
    <section>
      <div id="wrapper">
        <div id="time">0</div>
        <div id="countdown">
          <button class="increase" type="submit">Increase</button>
          <button class="decrease" type="submit">Decrease</button>
        </div>
      </div>
    </section>
  </body>
</html>
