<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" defer></script>

    <title>StopWatch Timer</title>
  </head>

  <body>
    <section>
      <div id="wrapper">
        <div id="time">00:00:00</div>
        <div id="countdown">
          <button class="stop" type="submit">Stop</button>
          <button class="start" type="submit">Start</button>
          <button class="clear" type="submit">Clear</button>
        </div>
      </div>
    </section>
  </body>
</html>
