<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/ToDo.css" />
    <script src="../js/ToDo.js" defer></script>
    <title>ToDo List</title>
  </head>
  <body>
    <div id="container">
      <div id="message">
        <h2 id="total-task">Total Tasks ( )</h2>
        <div id="two">
          <input id="add-task" type="text" />
          <button class="add-btn">Add</button>
        </div>

        <div class="item-list">
          <!-- <div class="new-task">
            <div>
              <p id="date-time">Date and Time</p>
              <label id="task">This is a new task</label>
            </div>

            <button class="done-btn">Done</button>
            <button class="delete-btn">Delete</button>

            <div>
              <p id="completed">Completed</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
